@import '../../css/variables';
@import '../../css/mixins';

html.page-home body {
  background-image: linear-gradient(to top, rgba(#fff, .7), rgba(#fff, .7)), url('../../web/img/header-work.jpg');
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;

  @include md {
    background-image: linear-gradient(to top, rgba($flag-green, .3), rgba($flag-green, .6))
  }
}

.loginbutton {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  display: none;
}

.services {
  margin: 35px 0  10px;
  color: #fff;

  &__service {
    text-align: center;
    margin: 0 0 40px;
  }

  &__service-icon {
    font-size: 54px;
    padding: 20px 0;
    margin: 0 0 5px;
  }

  &__service-title {
    font-size: rem(13px);
    font-weight: bold;
  }
}
