// African flag colors, https://www.pantone.com/pages/MYP_mypantone/mypPaletteDetail.aspx?p_id=82&p_type=p_detail
$flag-green:  rgb(0, 122, 77);
$flag-black:  rgb(30, 30, 30);
$flag-yellow: rgb(255, 182, 18);
$flag-red:    rgb(222, 56, 49);
$flag-blue:   rgb(0, 35, 149);

$font-size: 15px;
