// general settings
@import 'variables';
@import 'mixins';
@import 'edge';
@import 'fonts';
@import 'stylereset';

@import 'components/button';
@import 'components/contact';
@import 'components/form';
@import 'components/hero';
@import 'components/infoblock';
@import 'components/portfolio';
@import 'components/siteheader';

//@media screen and (min-width: 48em)

//linear-gradient(to top, rgba(0, 122, 77, 0.3), rgba(0, 122, 77, 0.6))

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-home h1 {
  font-size: 32px;
  font-weight: 500;
}

.page-home p {
  margin: 5px 0 15px;
}

.page-home hr {
  margin: 40px 0;
}

ul, ol {
  padding-left: 1em;
  margin: 5px 0 15px;
}

.parsley-errors-list {
  display: none;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  z-index: 9999999;
  background: white;
  overflow: hidden;
}

.popup-container--transition-enabled {
  transition: all 3s;
}

.popup-container--active {
  display: block;
  width: 50px;
  height: 50px;
}

