.button {
  padding: 20px 20px;
  text-align: center;
  color: #ffffff;
  background: transparent;
  font-size: rem(18px);
  border: 1px solid #ffffff;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  outline: none;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: $flag-green;
    transition: all 0.2s;
  }

  /*html.isdesktop*/ & {
    &:hover {
      border-color: $flag-green;

      &:after {
        top: 0;
      }
    }
  }
}
