$inputFontSize: 17px;

.form {
  text-align: left;

  &__row {
    display: block;
    position: relative;
  }

  &__input-container {
    height: 55px;
    background: #fff;
    border: 1px solid #fff;
    position: relative;
    margin: 0 0 15px 0;
    overflow: hidden;

    &.parsley-error,
    &.parsley-success {
      &::after {
        opacity: 0;
        transition: opacity .2s;
        position: absolute;
        top: 10px;
        right: 5px;
        font-family: FontAwesome;
        font-size: 15px;
      }
    }

    &.parsley-error {
      border-color: $flag-red;

      .form__label {
        color: $flag-red;
      }

      &::after {
        content: '\f071';
        color: $flag-red;
      }
    }

    &.parsley-success {
      border-color: $flag-green;

      .form__label {
        color: $flag-green;
      }

      &::after {
        content: '\f00c';
        color: $flag-green;
      }
    }
  }

  &__input {
    border: 0;
    border-radius: 0;
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 50px;
    padding: 0 10px;
    background: transparent;
    color: #7f8994;
    font-size: rem($inputFontSize);
    outline: none;
    resize: none;
  }

  &__input--textarea {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 120%;
  }

  &__label {
    position: absolute;
    top: 18px;
    left: 14px;
    text-align: left;
    color: #6a7989;
    font-size: rem($inputFontSize);
  }

  &__label-content {
    transform-origin: 0% 50%;
    transition: transform 0.3s;
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
  }

  .form__input-container,
  .form__input,
  .form__label {
    transition: all .3s;
  }

  &__successmessage {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__row--submit {
    text-align: right;
  }

  &__row--active {
    .form__input-container {
      height: 95px;

      &.parsley-error,
      &.parsley-success {
        &::after {
          opacity: 1;
        }
      }
    }

    .form__input {
      background: #6a7989;
      color: #fff;
    }

    .form__label {
      font-size: rem(15px);
      left: 11px;
      top: 10px;
    }
  }

  &__row--active.form__row--textarea {
    .form__input-container {
      height: 200px;
    }
  }
}
