.hero {
  padding: 0 30vh 0;
  height: 35vh;
  position: relative;

  /*h1 {
    padding-bottom: 20px;
    border-bottom: 5px solid $flag-black;
    text-transform: uppercase;
    color: $flag-green;
    font-size: rem(80px);
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
  }*/

  &__logo {
    @include absCenter(true, true);
    width: auto;
    height: 48px;
    margin-top: -40px;
  }

  @include md {
    height: 200px;
    padding: 0;
    text-align: center;

    &__logo {
      margin-top: -10px;
    }
  }
}
