.hero {
  padding: 0 30vh 0;
  height: 250px;
  position: relative;

  html:not(.page-home) & {
    display: none;
  }

  /*h1 {
    padding-bottom: 20px;
    border-bottom: 5px solid $flag-black;
    text-transform: uppercase;
    color: $flag-green;
    font-size: rem(80px);
    font-family: Roboto, sans-serif;
    letter-spacing: 1px;
  }*/

  &__logo {
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: 48px;
    transition: top 1s, opacity .1s, transform .5s;
    z-index: 99999;

    &.enabled {
      top: 20px;
    }

    html.small-siteheader & {
      transform: translateX(-50%) translateY(-100px);
    }
  }

  @include md {
    height: 200px;
    padding: 0;
    text-align: center;

    &__logo {
      margin-top: -10px;
    }
  }
}
